@charset "UTF-8";
.wrap {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.wrap a {
  text-decoration: none;
  color: #fff;
}

.jumbotron {
  background-image: url(../img/coffee.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  border-radius: 0;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

.jumbotron .logo {
  background-image: url(../img/logo_bird白.png);
  background-size: 100% 100%;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 101%;
  width: 100px;
  height: 120px;
  cursor: pointer;
}

.jumbotron .logo a {
  display: block;
  height: 120px;
}

.jumbotron .navFixed {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3c98cc;
  min-width: 100%;
  padding: 0 200px;
}

.jumbotron .menu-group li {
  font-size: 24px;
  font-weight: bold;
}

.jumbotron .menu-group li a:hover {
  color: #8abfdf;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px;
  border-bottom: 3px solid #8abfdf;
}

.jumbotron .menu {
  margin: 0 50px;
}

.jumbotron .slogan {
  color: #fff;
  text-align: center;
  line-height: 1.5;
  padding: 50px;
}

.about {
  background-image: url(../img/bg/淺白木頭.jpg);
}

.title {
  font-size: 2.5rem;
  text-align: center;
}

hr {
  border: none;
  border-top: 3px solid #252525;
  width: 10%;
  margin-top: 10px;
}

.brand {
  background-image: url(../img/服務生.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 570px;
  height: 450px;
  -webkit-box-shadow: 5px 5px 15px #252525;
          box-shadow: 5px 5px 15px #252525;
}

.brand-title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
}

.brand-text {
  text-align: center;
  line-height: 2.5;
  font-size: 1.25rem;
}

.news {
  background: url(../img/bg/黃木頭.png);
}

.news h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.news h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.news .card {
  border: 0;
  background-color: #8abfdf;
  width: 80%;
  overflow: hidden;
}

.news .card-img.top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  cursor: pointer;
}

.news .card-img.top:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.news .card-body {
  height: 200px;
}

.news .card-text {
  line-height: 2;
  font-size: 1.25rem;
}

.footer {
  background-color: #3c98cc;
  color: #fff;
}

.footer .footer-logo {
  background-image: url(../img/logo_bird白.png);
  background-size: 60%;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 101%;
  cursor: pointer;
}

.footer .contact {
  font-size: 1.25rem;
  line-height: 2.3;
  letter-spacing: 3px;
  font-weight: bold;
}

.footer .icon-group {
  font-size: 28px;
  opacity: 0.6;
  margin-top: 20%;
  margin-left: 8%;
}

.footer .icon-group i {
  cursor: pointer;
}

.footer .copy {
  opacity: 0.6;
  font-size: 0.8rem;
  margin-left: 62%;
}

.footer .fa-chevron-circle-up {
  position: fixed;
  left: 95%;
  bottom: 3%;
  font-size: 2.5rem;
  opacity: 0.8;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */